/* SearchForm.module.css */

.searchFormContainer {
    position: absolute;
    top: 75vh;
    left: 50%;
    translate: -50%;
    z-index: 100;
    width: 50%;
}

.inputField {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    
}

.suggestionContainer {
    background-color: black;
}


.suggestionItem {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
}


.suggestionItem:hover {
    background-color: #f9f9f9;
}
