/* SearchForm.module.css */

.searchFormContainer {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 50%;
    animation: shake 1s infinite alternate;
}

@keyframes shake {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-52%);
    }
}

.notShaking {
    animation: none;
    position: absolute;
    top: 75vh;
    left: 25%;
    transform: translateX(-50%);
    z-index: 100;
    width: 50%;
}


.inputField {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 0;
    /* Reset border-radius */
    border-bottom-left-radius: 20px;
    /* Rounded bottom-left corner */
    border-bottom-right-radius: 20px;
    /* Rounded bottom-right corner */
    border: 2px solid #ccc;
    /* Thick border */
    background-color: #f9f9f9;
    /* Light gray background */
    color: #333;
    /* Dark text color */
    transition: border-color 0.3s;
    /* Smooth transition for border color */
    box-sizing: border-box;
    /* Include padding in width */
}

.inputField:focus {
    outline: none;
    /* Remove default focus outline */
    border-color: #007bff;
    /* Border color on focus */
}


.suggestionContainer {
    background-color: black;
}

.suggestionItem {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.suggestionItem:hover {
    background-color: #f9f9f9;
}