/* components/DirectionPanel/DirectionPanel.module.css */


.panel {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 35%hv;
    opacity: 1;
    max-height: 1000px;
    width: 30vw;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}



.button {
    margin-top: 8px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
    background-color: #EFEFEF;
    color: black;
}

.button:hover {
    background-color: #d6d6d6;
    color: #514D6E;
    /* slightly darker than #e0e0e0 */
}



.swapButton {
    position: absolute;
    top: 35%;
    right: 10%;
    background-color: #F1F4F7;
    color: #514D6E;
    align-self: flex-end;
}

.setCourseButton {
    background-color: #F1F4F7;
    color: #514D6E;
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.getUserLocation {
    background-color: #F1F4F7;
    color: #514D6E;
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 3rem;
}



.panel.dismissed {
    height: 10%;
    width: 10%;
    opacity: .95;
}



.groupTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.groupIcons {
    background-color: #F1F4F7;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    /* Adjust the gap between icons */
}

.iconButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: .5rem;
    transition: color 0.3s ease;
}



.icon {
    color: #514D6E;
    font-size: 24px;
}


.selected {
    color: #00aa00;
    /* Green color for selected icons */
}

.iconButton:hover .icon {
    color: #00aa00;
    /* Change color on hover */
}



.selectedIcon {
    color: green;
}

.iconButton:hover:not(.selectedIcon) {
    color: 00aa00;
}

.inputContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.iconButton.selected {
    color: green;
    /* Adjust the text color as needed */
}

.iconButton:hover {
    color: green;
}



.input {
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    width: 85%;
    background-color: white;
    color: black;
}

.input:focus {
    border-color: #3498db;
}

.searchFormContainer {
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    flex-grow: 1;
    background-color: white;
    color: black;
}

.suggestionContainer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 83%;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.suggestionItem {
    cursor: pointer;
    padding: 12px;
    transition: background-color 0.3s ease;
}

.suggestionItem:hover {
    background-color: #f9f9f9;
    /* Light gray on hover */
}