.container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30vw;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
    color:black;
    display: flex;
}

.closeButton {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 18px;
    color: #ff5858;
    background: none;
    border: none;
    cursor: pointer;
}

.leftColumn,
.rightColumn {
    flex: 1;
}

.leftColumn:hover,
.rightColumn:hover {
    transform: scale(1.05);
}

.column {
    color: black;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.column:hover {
    transform: scale(1.05);
}

.columnTitle {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
    transition: color 0.3s ease-in-out;
}

.column:hover {
    color: #45a049;
}

.info {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 8px;
}

.separator {
    text-align: left;
    width: 1px;
    background-color: #ddd;
    margin: 0 20px;
}