
.questionsPanel {
    /* Add your styles here */
    background-color: white;
    width: 20vw;
    padding: 20px;
    border-radius: 8px;

  
  }
  
  /* Additional styles for label, select, and button elements */
  .questionsPanel label {
    font-size: 16px;
    margin-bottom: 10px;
    color : #514D6E;
  }
  
  .questionsPanel select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .questionsPanel button {
    padding: 10px;
    background-color:  #F1F4F7;
    color: #514D6E;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .questionsPanel button:hover {
    background-color: #d6d6d6;
    color: #514D6E;
  }
  .dropdown{
    width: 100%;
    display:flex;
    margin:6px;
  }

  .firstdropdownContainer{
    display:flex;
    width: 100%;
  }
  .seconddropdownContainer{
    display: flex;
    width:100%;
  }
  .timePer {
    margin:0 4px;
    color:#514D6E;
    display:flex;
    
  }