/* SearchForm.module.css */

.searchFormContainer {
    position: absolute;
    top: 75vh;
    left: 38%;
    transform: translateX(-50%);
    z-index: 100;
    width: 50%;
}

.inputField {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.suggestionItem {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ccc;
}